<head>
	<meta charset='utf-8'>
	<title> BetaPoc | Product Reviews</title>
	<meta name="description" content="Read and create reviews and ratings for popular products">
	<meta name="viewport" content="user-scalable=no,initial-sclae=1, minimal-ui,maximum-sclae=1,minimum-scale=1"/>
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
</head>